*{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.myApp {
    margin: 0; 
    background-image: linear-gradient(-180deg, rgb(21, 24, 24), rgb(7, 75, 100));
    
} 

.jumbo {
  height: 100vh;
  padding : 10px;
}

@media screen and (max-width: 768px) {
  .jumbo {
    height: 100vh;
  }
}

@media screen and (max-width: 360px) {
  .carousel {
    height: 300px;
  }
  .jumbo {
    height: 50vh;
  }  
   
  
}


.carousel-caption {
  bottom: 10;
  background-color: rgba(0, 0, 0, 0.5);
  
}

.carousel-caption h3 {
  font-size: 25px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  color: #fff;
  margin-bottom: 10px;
}

.tittle {
    padding: 20px;
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
    text-shadow: 2px 2px black;
    letter-spacing: 3px;
}

.second-tittle {
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 2px 2px black
}


.trending-cards {
 display: grid;
 margin-left: 70px; 
 grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 grid-gap: 2rem;
 margin-top: 2rem;
}



.movie-wrapper {
    max-height: 25rem;
    width: 14rem;
    background-image: linear-gradient(-45deg, rgb(36, 186, 239), rgb(21, 24, 24));
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    color: beige;
  }

.movie-wrapper img {
    max-width: 15rem;
    max-height: 21rem;
}
.movie-wrapper .card {
background-color: black;
} 
    


.info {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 0.5rem;
    
}

.overview {
    transform: translateY(100%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(-45deg, rgb(36, 186, 239), rgb(21, 24, 24));
    padding: 10px;
    overflow: auto;
    margin-top: 2rem;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    font-size: 15px;
     
    
}

/* .overview-info {
    margin-top: 40px;
} */


.movie-wrapper:hover .overview {
    transform: translateY(0%) 
    
}

.footer {
    height: 300px;
    padding :20px

}

.main-footer {
    margin-top: 20px;
    color: aliceblue;
} 

.nav-link {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 600;
  }

  .main-footer {
    margin-top: 100px;
    background-color: transparent;
  }
  
  ul {
    list-style: none;
    display: flex;
    align-items: left;
    font-size: 25px;
  }
  
  li {
    margin: 0 10px;
  }

  h5 {
    margin-left: 40px;
  }


  .login-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px;
    background: url(./assets/asset-1.jpeg);
    background-size: cover;
    height: 100vh;
  }

  .login-form {
    
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-image: linear-gradient(-45deg, rgb(36, 186, 239), rgb(21, 24, 24));
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
  }

  #login-message {
    font-size: 19px;
    color: red;
  }

  .input-form {
    
    margin-bottom: 1rem;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
  }
    
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
  }
  
  label[for="username"] {
    color: rgb(255, 255, 255);
  }
  
  label[for="password"] {
    color: rgb(255, 255, 255);
  }
  

  @media screen and (max-width: 576px) {
    .login-page {
      padding: 50px;
    }
  }

    
  .validate-input{
    position: relative;
  }

 



  .account {
    height: 100vh;
    background: url(./assets/asset-13.jpg);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;

  }

   .account h2{
    padding: 50px 50px;
   }

  .account-content {
    display: flex;
    flex-direction: column;
    padding: 40px;
    /* margin: 100px; */
    /* width: 60%;
    height: 250px; */
    background-image: linear-gradient(-45deg, rgb(36, 186, 239), rgb(21, 24, 24));
    border-radius: 10px;  
    align-items: center;
    justify-content: center; 

  }

  @media only screen and (min-width: 768px) {
    .account-content {
      flex-direction: row;
      justify-content: center;
    }
    
    .account-detail {
      margin-left: 30px;
    }
  }

  .account-content img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }

 

  .carousel {
    height: 500px;
    width: 100%;
    
  }

  .carousel-indicators {
    color: rgb(255, 255, 255);
  }


  @media screen and (max-width: 360px) {
    .carousel {
      height: 250px;
    }
  }


  .logout-button{
    
    background-image: linear-gradient(-45deg, rgb(36, 186, 239), rgb(21, 24, 24));    
    justify-content: center;
    margin-top: 20px;
    padding: 10px 20px;   
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    transition: all 0.3s ease-in-out;
  
  }